* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2C3E50;
}

.height-50 {
    height: 50px;
}

.content {
    width: 100%;
}

.border-white {
    border: 1px solid white;
}

.darkgray {
    background-color: #2C3E50;
}

.green {
    background-color: #1ABC9C;
}

.azure {
    background-color: #1C83C1;
}

.beige {
    background-color: #CCB2A3;
}

.magenta {
    background-color: #BA4B63;
}

.lightblack {
    background-color: #3A546D;
}

.lightazure {
    background-color: #1FA4B6;
}

.black {
    background-color: #130F0F;
}

.blue {
    background-color: #1037B5;
}

.border-radius {
    border-radius: 5px;
}

#jumbo img {
    width: 30%;
}

#portfolio img {
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.icon:after, .icon:before {
    content: '';
    width: 75px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

.icon-2:after, .icon-2:before {
    content: '';
    width: 75px;
    height: 3px;
    background-color: black;
    display: inline-block;
}